**/.git
**/.gitignore
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/docker-compose*.yml
**/.dockerignore
**/README*.md
**/target
**/venv
**/__pycache__
**/*.pyc
**/.DS_Store
**/arch-img
**/.env*
**/coverage
**/dist
**/.nyc_output 